rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents{ 
    match /users/{userId}  {
      allow read, write: if false;
      
      match /teams/{teamId} {
      	allow read: if request.auth.uid == userId;
        // creating and deleting can still be done by asmin SDK
        allow create, delete: if false;
        // users can only update specific fields on their team, and only if their team is_approved (paid)
        function isUpdateToSettingField() {
    			return request.resource.data.diff(resource.data).affectedKeys().hasOnly(['is_setting_lineups', 'lineup_paused_at']);
				}
    		allow update: if isUpdateToSettingField() && resource.data.is_subscribed == true && request.auth.uid == userId;
    	}
  	}
    
    match /schedule/today  {
      allow read: if request.auth != null;
    	allow write: if false;
    }
  }
}